@charset "UTF-8";
@keyframes color-circle {
    0% {
        background-color: #1abc9c;
    }
    10% {
        background-color: #2ecc71;
    }
    20% {
        background-color: #3498db;
    }
    30% {
        background-color: #9b59b6;
    }
    40% {
        background-color: #34495e;
    }
    50% {
        background-color: #f1c40f;
    }
    60% {
        background-color: #e67e22;
    }
    70% {
        background-color: #e74c3c;
    }
    80% {
        background-color: #ecf0f1;
    }
    90% {
        background-color: #95a5a6;
    }
    100% {
        background-color: #1abc9c;
    }
}

@keyframes text-color-circle {
    0% {
        color: #138b73;
    }
    10% {
        color: #239a54;
    }
    20% {
        color: #2470a3;
    }
    30% {
        color: #7e3c9a;
    }
    40% {
        color: #22303f;
    }
    50% {
        color: #df8e0c;
    }
    60% {
        color: #b84900;
    }
    70% {
        color: #aa3427;
    }
    80% {
        color: #afb6bb;
    }
    90% {
        color: #738182;
    }
    100% {
        color: #138b73;
    }
}

body {
    animation-duration: 240s;
    animation-iteration-count: infinite;
    animation-name: color-circle;
    background: #1abc9c;
    font-family: "M+ C Type-1 (basic latin) Regular", "M+ C Type-1 (basic latin) Light", sans-serif;
    margin: 0;
}

.name {
    animation-duration: 240s;
    animation-iteration-count: infinite;
    animation-name: text-color-circle;
    color: #16a085;
    font-size: 80px;
    font-weight: 100;
    margin: 45vh auto 0;
    text-align: center;
    width: 100vw;
}

.qoute {
    font-size: 14px;
    margin: 0 auto 10px;
    padding-top: 0;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;
}

.project {
    bottom: 25px;
    display: inline-block;
    margin: 0 auto;
    position: fixed;
    text-align: center;
    width: 100vw;
}

.project-name {
    animation-duration: 240s;
    animation-iteration-count: infinite;
    animation-name: text-color-circle;
    color: #16a085;
    font-size: 20px;
    font-weight: 100;
    padding-top: 5px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 5px;
    text-decoration: none;
    transition: 500ms;
}

.project-name:hover {
    background-color: #FFFFFF;
    background-color: rgba(255, 255, 255, 0.9);
    border-color: #FFFFFF;
    border-color: rgba(255, 255, 255, 0.0);
    -webkit-border-radius: 99em;
    -moz-border-radius: 99em;
    border-radius: 99em;
    color: #000000;
    font-size: 20px;
    font-weight: 100;
    padding-top: 5px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 5px;
    text-decoration: none;
    transition: 500ms;
}