@charset "UTF-8";

@keyframes color-circle {
    0%   {background-color: #113F8C;}
    10%  {background-color: #01A4A4;}
    20%  {background-color: #00A1CB;}
    30%  {background-color: #61AE24;}
    40% {background-color: #D0D102;}
    50% {background-color: #32742C;}
    60% {background-color: #D70060;}
    70% {background-color: #E54028;}
    80% {background-color: #F18D05;}
    90% {background-color: #616161;}
    100% {background-color: #113F8C;}
}

body {
    animation-name: color-circle;
    animation-duration: 120s;
    animation-iteration-count: infinite;
    background: #212121;
    font-family: "M+ C Type-1 (basic latin) Regular", "M+ C Type-1 (basic latin) Light", sans-serif;
    margin: 0;
    
}

main {
    padding: 40vh 0;
    text-align: center;
}

h1 {
    color: #FFF;
    font-size: 10vw;
    margin: 0;
}

a {
    text-decoration: none;
}

p {
    border: 1px solid #efefef;
    border-radius: 3vw;
    color: #FFF;
    font-size: 2vw;
    font-weight: 100;
    margin: 0 auto;
    padding: 10px;
    width: 20vw;
}

p:hover {
    background: #fff;
    color: #000;
    transition: 0.5s;
}