body {
    margin: 40px auto;
    max-width: 650px;
    line-height: 1.6;
    font-size: 18px;
    color: #444;
    padding: 0 10px;
}

p {
    margin: 0;
}

header {
    margin-bottom: 50px;
}

main article {
    margin-bottom: 25px;
    padding-bottom: 15px;
    border-bottom: 1px #eeeeee solid;
}

main article:last-child {
    border-bottom: none;
}

main article h4 {
    margin-bottom: 5px;
}